<div >
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <form class="form-horizontal" name="schoolForm">
        <div class="modal-body">
            <tabset>
                <tab heading="Basic information">
                    <div class="tabGap">
                        <div class="form-group">
                            <label for="SchoolName" class="col-sm-3 control-label">School Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="SchoolName"
                                       ng-model="school.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Area" class="col-sm-3 control-label">Area</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Area" ng-model="school.area">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Profession" class="col-sm-3 control-label">Profession</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Profession" ng-model="school.profession">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Fee" class="col-sm-3 control-label">Fee</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="Fee" ng-model="school.fee" required>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Contact">
                    <div class="tabGap">
                        <div class="form-group">
                            <label for="ContactName" class="col-sm-3 control-label">Contact Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ContactName"
                                       ng-model="school.contactName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ContactNumber" class="col-sm-3 control-label">Contact Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ContactNumber" ng-model="school.contactNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="website" class="col-sm-3 control-label">website</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="website" ng-model="school.website">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" ng-model="school.email" required>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Detail">
                    <div class="tabGap">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" id="detail" rows="10" cols="50"
                                       ng-model="school.detail" required>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
            {{message}}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="ok(schoolForm.$valid)" ng-disabled="schoolForm.$invalid">Confirm</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
