<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        School List
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               style="width: 300px;"
                               placeholder="school Name"
                               ng-model="vm.searchInput">
                    </div>

                    <button type="submit"
                            class="btn btn-default btn-primary"
                            ng-click="vm.search()">
                        Search
                    </button>
                </form>
            </div>
           
            <div class="col-md-7">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <pagination ng-click="vm.pageChanged()" total-items="vm.totalCount" ng-model="vm.pageNumber" max-size="vm.maxSize" class="pagination" boundary-links="true" rotate="false" ></pagination>
                    </li>
                    <li style="margin-left:10px;">
                        <button class="btn btn-default btn-primary" ng-click="vm.add()"> Add</button>
                    </li>
                </ul>
            </div>
        </div>
        
        <table class="table table-responsive table-condensed table-hover">
            <thead>
                <tr>
                    
                    <td><a href="#" ng-click="vm.setOrderBy('name')">Name</a></td>
                    <td><a href="#" ng-click="vm.setOrderBy('area')">Area</a></td>
                    <td><a href="#" ng-click="vm.setOrderBy('profession')">Profession</a></td>
                    <td><a href="#" ng-click="vm.setOrderBy('fee')">Fee</a></td>
                    <td><a href="#" ng-click="vm.setOrderBy('commission')">Commission</a></td>
                    <td><a href="#" ng-click="vm.setOrderBy('schoolType.name')">SchoolType</a></td>
                    <td><a href="#" ng-click="vm.setOrderBy('createDate')">CreateDate</a></td>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody ng-repeat="school in vm.schools| orderBy:vm.orderBy">
                <tr>
                    <td>
                            {{ school.name}}
                    </td>
                    <td>{{ school.area }}</td>
                    <td>{{ school.profession }}</td>
                    <td>{{ school.fee | currency }}</td>
                    <td>{{ school.commission | currency }}</td>
                    <td>{{ school.schoolType.name }}</td>
                    <td>{{ school.createDate }}</td>
                    <td>
                        <a href="#" ng-click="vm.detail(school.id)">Detail</a>
                    </td>
                    <td>
                        <a href="#" ng-click="vm.edit(school)">Edit</a>
                    </td>
                </tr>
                <tr ng-show="school.show">
                    <td colspan="9">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Website
                                </dt>

                                <dd>
                                    {{ school.website }}
                                </dd>
                                <dt>
                                    Email
                                </dt>

                                <dd>
                                    {{ school.email }}
                                </dd>
                                <dt>
                                    Address
                                </dt>

                                <dd>
                                    {{ school.address }}
                                </dd>

                                <dt>
                                    ContactName
                                </dt>

                                <dd>
                                    {{ school.contactName }}
                                </dd>

                                <dt>
                                    ContactNumber
                                </dt>

                                <dd>
                                    {{ school.contactNumber }}
                                </dd>

                                <dt>
                                    ContactOthers
                                </dt>

                                <dd>
                                    {{ school.contactOthers }}
                                </dd>

                                <dt>
                                    Detail
                                </dt>

                                <dd>
                                    {{ school.detail }}
                                </dd>
                                <dt>
                                    Operator
                                </dt>

                                <dd>
                                    {{ school.operator }}
                                </dd>
                                <dt>
                                    CreateDate
                                </dt>

                                <dd>
                                    {{ school.createDate }}
                                </dd>

                            </dl>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>