<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.13.0" targetFramework="net452" userInstalled="true" />
  <package id="Angular.UI.UI-Router" version="0.2.15" targetFramework="net452" userInstalled="true" />
  <package id="Angular.UI.Utils" version="0.2.3" targetFramework="net452" userInstalled="true" />
  <package id="AngularJS.Animate" version="1.4.1" targetFramework="net452" userInstalled="true" />
  <package id="AngularJS.Core" version="1.4.1" targetFramework="net452" userInstalled="true" />
  <package id="AngularJS.Resource" version="1.4.1" targetFramework="net452" userInstalled="true" />
  <package id="animate.css" version="3.2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="bootstrap" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net452" userInstalled="true" />
  <package id="jQuery" version="1.9.0" targetFramework="net452" userInstalled="true" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net452" userInstalled="true" />
</packages>