<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off" defaultRedirect="/Error.html">
        <error statusCode="403" redirect="/403.html" />
        <error statusCode="404" redirect="/404.html" />
      </customErrors>
      <trust level="Full" />
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
</configuration>
